<a ui-sref=".profile">askdjf</a>
<div class="row" ng-controller="dashCtrl">
	<div class="col-xs-6 col-lg-3 light-padding" ng-repeat="t in tiles" ng-show="t.valid">
		<div class="tile" ng-class="t.color">
			<div class="tile-text">{{t.content}}</div>
		</div>
	</div>
</div>
<div class ="row" style="padding: 1% 1% 1% 1%;">
	<div class="col-xs-12 light-green social-footer">
		<div class="title">Social Connect</div>
		<div class="row">
    		<div class="col-xs-4">
        		<i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
    		</div>
    		<div class="col-xs-4">
        		<i class="fa fa-instagram fa-3x " aria-hidden="true"></i>
    		</div>
    		<div class="col-xs-4">
        		<i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>
    		</div>
		</div>
		<i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
	</div>	
</div>

<div ui-view></div>
