<div class="bg-blue-secondary bg-cover " style="overflow-y: auto;">

	<i style="cursor: pointer; font-size: 30px; float: left; margin-left: 15px;" class="fa fa-times blue-primary portfolio-detail-mg d-none d-sm-block" ng-click="close()" aria-hidden="true"></i>


	<div class="container">
		<div class="row portfolio-detail-mg  align-items-center">
				<div class="col-1 offset-1 offset-sm-1 offset-lg-2 ">
					<h1 class="align-right">
						<i style="cursor: pointer; font-size: 30px;" ng-show="id!==0" class="fa fa-chevron-left blue-primary" ng-click="goLeft()" aria-hidden="true"></i>
					</h1>
				</div>
 				<div class="col-8 col-sm-8 col-lg-6">
					<h1 class="align-center blue-primary">				
					{{name}}
					</h1>
				</div>
				<div class="col-1">
					<h1 class="align-left">
						<i style="cursor: pointer; font-size: 30px;" ng-if="id!==items.length-1" class="fa fa-chevron-right blue-primary" ng-click="goRight()" aria-hidden="true"></i>
					</h1>
				</div>

			
		</div>

		<div class="row animated fadeInUp" ng-if="name=='TakeCharge'">
			<div class="col-12 col-lg-10 offset-lg-1 embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qM3VcDQI9K8?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				
			</div>
			<div class="col-12 col-lg-10 offset-lg-1" style="margin-top: 35px;">
				<p class="detail-text">
					TakeCharge is an autism assistance app built for the 2017 <a target="_blank" href="https://sparkforautism.org/">Spark for Autism</a> app development contest. The goal was to design and build an app to help those with autism (and their parents/teaches/etc) track patterns in their mood and manage their autism-related issues. We set requirements for the project based on user research done by the Spark organization. The app is built with <a href="https://ionicframework.com/" target="_blank"> Ionic Framework</a>, an app development system built on <a target="_blank" href="https://angular.io/">Angular 2</a> and <a target="_blank" href="http://www.typescriptlang.org/">Typescript</a>. In our team of four students, my role was UI designer, front-end developer, and project manager. Our team used agile software development process.
				</p>
			</div>
		</div>

		<div class="row animated fadeInUp" ng-if="name=='Ripple Effect'">
			<div class="detail-margin col-12 col-lg-10 offset-lg-1 embed-responsive embed-responsive-16by9">
				<iframe src="https://player.vimeo.com/video/240326133?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
			<div class="col-12 col-lg-10 offset-lg-1" style="position: relative;">
				<a class="view-button position-h-center detail-text" target="_blank" style="color: white; cursor: pointer;" href="http://rippleeffect.arizona.edu" >View Live Site</a>
			</div>
			<div class="col-12 col-lg-10 offset-lg-1" style="margin-top: 35px;">
				<p class="detail-text" >
					Ripple Effect is an art installation that visualizes ground water data collected on arsenic, lead, nitrate, and fluoride levels as reported by Arizona’s Department of Environmental Quality (ADEQ) Ambient Groundwater Monitoring Program from over 4,000 samples in three Arizona counties over a ten-year timespan. Our team received the 2017 <a target="_blank" href="https://a2ru.org/">a2ru</a> Student Challenge Grant to fund the installation and website. In our team of three, I was the sole web developer. I built the web interface using AngularJS, and participated in the data manipulation and UI design. Our team presented Ripple Effect at the <a target="_blank" href="https://a2ru.org/">a2ru</a> annual conference in November 2017.
				</p>
			</div>


		</div>


		<div class="row animated fadeInUp" ng-if="name=='Higher Ground'">
			<div class="col-12 col-lg-10 offset-lg-1">
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/116eb963276571.5aac2b052fbed.png"/>
				<p class="detail-text">Higher Ground is a community resource center and after school program for youth. They seek to unite educators, community partners, and families to provide enrichment, health, social services, and support that offers the best road for their students futures. Higher Ground approached University of Arizona School of Art to rethink and update their visual brand. My concept brings together brings warmth and positivity that reflects the Higher Ground culture. The visual elements convey a sense of community and togetherness in overcoming challenges. </p>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/f57eb563276571.5aac2b052f48b.png"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/c1807e63276571.5aac25ef70e72.jpg"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/43e9ed63276571.5aac25ef7047b.jpg"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/2a161b63276571.5aac2b05303e7.jpg"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/a3588963276571.5aab0caa788cb.gif"/>
			</div>
		</div>

		<div class="row animated fadeInUp" ng-if="name=='Funk Water'">
			<div class="col-12 col-lg-10 offset-lg-1">
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/4ac29a63188451.5aa8a9cee5d65.jpg"/>
				<p class="detail-text">Funk Water is an exploration of typography as brand. The project purpose was to create an effective, memorable and readable mark using purely typographic elements. The Funk Water mark communicates fun and youth, with a funky/jazzy vibe that matches the product.</p>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/e4209c63188451.5aa8a9cee57f6.jpg"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/3fd38663188451.5aa8a9cee692d.jpg"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/b5ae9063188451.5aa8a9cee6239.jpg"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/f4ab9263188451.5aa8a9cee6607.jpg"/>
			</div>
		</div>

		<div class="row animated fadeInUp" ng-if="name=='Domain of the Gods'">
			<div class="col-12 col-lg-10 offset-lg-1">
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/83c37261927485.5a7e479855b63.jpg"/>
				<p class="detail-text">Domain of the Gods examines the expressive aspect of different typefaces. The goal of the project was to create illustrations and marry they to typefaces that express their character. Then these type-image marriages were integrated into editorial-style spreads to demonstrate scale change and effective layouts. </p>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/4d5cd061927485.5a7e4798ec5d6.jpg"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/df73fe61927485.5a7e4798ec1d3.jpg"/>
			</div>
		</div>

		<div class="row animated fadeInUp" ng-if="name=='Red Threads'">
			<div class="col-12 col-lg-10 offset-lg-1">
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/0fa0f256154929.59a3184721ffb.png"/>
				<p class="detail-text">Red Thread by Roadkill Annies is an punk/alternative rock album. The goal was to communicate the character of the band and the music through bright, contrasting colors and dynamic texture and movement.</p>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/fbcb3356154929.59a318472283c.png"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/cbdb6056154929.59a31847236be.png"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/737e4656154929.59a3184723289.png"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/5a28f656154929.59a3184722d62.png"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/bf419556154929.59a3184722524.png"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/3a6c3656154929.59a3184721af2.png"/>
			</div>
		</div>

		<div class="row animated fadeInUp" ng-if="name=='Desire & Innocence'">
			<div class="col-12 col-lg-10 offset-lg-1">
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/7283ad53432795.5934c5b08e214.png"/>
				<p class="detail-text">
					Desire &amp; Innocence is a design of an excerpt from <a href="http://www.manifestoproject.it/bruce-mau/">Bruce Mau's Incomplete Manifesto for Growth</a>. This goal of this project was to develop an image manipulation, a vector illustration, two flat colors, and three textual elements (title, number, and subtitle) and create three dynamic layouts. One layout is image-dominant, one is text-dominant, and the last is color-dominant. My concept explores the duality of desire and innocence in youth expression of sexuality. 
				</p>
<!-- 				<div class="row">
					<div class="col-12 col-sm-4">
						<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/4a08b253432795.5934c5b02de0e.png"/>
					</div>
					<div class="col-12 col-sm-4">
						<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/c41d4d53432795.5934c5b02e346.png"/>
					</div>
					<div class="col-12 col-sm-4">
						<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/30117253432795.5934c5b02dbe6.png"/>
					</div>
				</div> -->
			</div>
		</div>

		<div class="row animated fadeInUp" ng-if="name=='The Knotted Sepal'">
			<div class="col-12 col-lg-10 offset-lg-1">
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/d8381749920273.5aaef2a5d9146.jpg"/>
				<p class="detail-text">The Knotted Sepal is a logo and brand project based on two random-generated words; Knot and Sepal. The goal was to create a unique but meaningful business and brand using only these words. I chose to The Knotted Sepal Teahouse &amp; gardens, and decided to integrate the knot and the sepal in the elements of the logo.</p>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/a795d749920273.5aaef2a5d8c8b.jpg"/>
				<img class="detail-margin img-fluid" src="https://mir-cdn.behance.net/v1/rendition/project_modules/fs/55c40249920273.5ab054a47742c.jpg"/>
			</div>
		</div>

		<div class="row animated fadeInUp" ng-if="name=='Living Museum'">
			<div class="col-12 col-lg-10 offset-lg-1">
				<img class="detail-margin img-fluid" src="https://mir-cdn.behance.net/v1/rendition/project_modules/fs/74212c48882709.5ab0723537ff5.png"/>
				<p class="detail-text">Living Museum is a poster for a museum exhibit featuring photography of endangered and threatened species. This poster was designed to advertise the exhibit, using a polar melting as a visual metaphor for the melting of ice bergs endangering Polar Bears. </p>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/cca87348882709.593628e156a4f.png"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/2827a348882709.593628e156673.png"/>
			</div>
		</div>


	</div>
</div>

