<div class="row animated" ng-class="down ? 'fadeInDown' : 'fadeInUp'">
	<div class="d-none d-md-block col-8 offset-2 col-md-8 offset-md-2">
		<div class="row">
			<div class="col-12 col-md-4">
				<img class="about-img img-fluid" style="margin-bottom: 20px;" src="assets/eng.png"/>
				<h5 class="about-title">Software Engineer</h5>
			</div>
			<div class="col-12 col-md-4">
				<img class="about-img img-fluid" style="margin-bottom: 20px;" src="assets/web.png"/>
				<h5 class="about-title">Web Developer</h5>
			</div>
			<div class="col-12 col-md-4">
				<img class="about-img img-fluid" style="margin-bottom: 20px;" src="assets/des.png"/>
				<h5 class="about-title">Graphic Designer</h5>
			</div>
		</div>
	</div>

	<div class="col-12 d-block d-md-none">
		<div class="row ">
			<div class="col-4 offset-4" style="padding-top: 25px">
				<img class="about-img img-fluid" style="margin-bottom: 10px;" src="assets/eng.png"/>
			</div>
			<div class="col-12">
				<h5 class="about-title align-center">Software Engineer</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-4 offset-4" style="padding-top: 25px">
				<img class="about-img img-fluid" style="margin-bottom: 10px;" src="assets/web.png"/>
			</div>
			<div class="col-12">
				<h5 class="about-title align-center">Web Developer</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-4 offset-4" style="padding-top: 25px">
				<img class="about-img img-fluid" style="margin-bottom: 10px;" src="assets/des.png"/>
			</div>
			<div class="col-12">
				<h5 class="about-title align-center">Graphic Designer</h5>
			</div>
		</div>
	</div>
</div>