<div class="row animated" ng-class="down ? 'fadeInDown' : 'fadeInUp'">
		<div class="col-12 col-md-6 align-right d-none d-md-block">
			<h3 class="edu-degree">Bachelors of Science</h3>
			<h3 class="edu-major">Computer<br/>Science</h3>
			<div class="row">
				<div class="col-4 offset-4 col-lg-3 offset-lg-6">
					<p><a href="http://www.arizona.edu/" target="_blank"><span class="bold">University<br/>
						of Arizona</a><br/></span>
						Tucson, AZ</p>
				</div>
				<div class="col-4 col-lg-3">
					<p><span class="bold">May 2018<br/></span>
						Math Minor<br/>
						Design Minor<br/>
						GPA 3.94</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6  d-none d-md-block" style="margin-top: 30pt;"> 
			<h3 class="edu-header">Honors</h3>
			<p><a href="https://www.nationalmerit.org/" target="_blank">National Merit Scholar</a><br/>
						<a href="http://financialaid.arizona.edu/types-aid/scholarships/scholarships-0" target="_blank">Wildcat Excellence Award</a><br/>
						<a href="http://a2ru.org/" target="_blank">a2ru Student Challedge Grant</a><br/>
						<a href="https://www.honors.arizona.edu/" target="_blank">Honors College</a></p>
			<h3 class="edu-header">Involvement</h3>
			<p><a href="http://ewb-ua.weebly.com/" target="_blank">Engineers Without Borders UA</a><br/>
						Fall 2014-Present<br/>
						President 2017-2018<br/>
						Vice President 2016-2017</p>	
		</div>

	<div class="col-10 offset-1 col-sm-6 offset-sm-3 d-block d-md-none">
		<div class="row">
			<div class="col-12 col-md-6 align-right">
				<h3 class="edu-degree" style="font-size: 16pt;">Bachelors of Science</h3>
				<h3 class="edu-major" style="font-size: 40pt; line-height: 40pt;">Computer<br/>Science</h3>
				<div class="row">
					<div class="col-6 col-lg-3 offset-lg-6">
						<p><a href="http://www.arizona.edu/" target="_blank"><span class="bold">University<br/>
							of Arizona</a><br/></span>
							Tucson, AZ</p>
					</div>
					<div class="col-6 col-lg-3">
						<p><span class="bold">May 2018<br/></span>
							Math Minor<br/>
							Design Minor<br/>
							GPA 3.92</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6"> 
				<h3 class="edu-header">Honors</h3>
				<p><a href="https://www.nationalmerit.org/" target="_blank">National Merit Scholar</a><br/>
							<a href="http://financialaid.arizona.edu/types-aid/scholarships/scholarships-0" target="_blank">Wildcat Excellence Award</a><br/>
							<a href="http://a2ru.org/" target="_blank">a2ru Student Challenge Grant</a><br/>
							<a href="https://www.honors.arizona.edu/" target="_blank">Honors College</a></p>
				<h3 class="edu-header">Involvement</h3>
				<p><a href="http://ewb-ua.weebly.com/" target="_blank">Engineers Without Borders UA</a><br/>
							Fall 2014-Present<br/>
							President 2017-2018<br/>
							Vice President 2016-2017</p>	
			</div>
		</div>
	</div>
</div>


