<div class="row animated" ng-class="down ? 'fadeInDown' : 'fadeInUp'">

	<div class="col-12 contact-header">
		<h3>Contact</h3>
	</div>
	<div class="col-12 align-center">
		<p>
			<a href="mailto:addisonkaufmann@email.arizona.edu">
				addisonkaufmann@email.arizona.edu
			</a>
		</p>
	</div>



	<div class="col-12 contact-header" style="margin-top: 40px;">
		<h3>Share</h3>
	</div>
	<div class="col-12 col-md-8 offset-md-2 offset-lg-4 col-lg-4">
		<div class="row">
			<div class="col-2 offset-4 align-center contact-icon">
<!-- 				<a href="https://github.com/addisonkaufmann" target="_blank">
 -->					<i class="fa fa-share" aria-hidden="true"></i>
<!-- 				</a>
 -->			</div>
			<div class="col-2 align-center contact-icon">
				<a href="assets/Addison_Kaufmann_Resume.pdf" target="_blank">
					<i class="fa fa-cloud-download" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</div>
	

	<div class="col-12 contact-header" style="margin-top: 40px;">
		<h3>See more</h3>
	</div>
	<div class="col-12 col-md-8 offset-md-2 offset-lg-4 col-lg-4">
		<div class="row">
			<div class="col-2 offset-3 align-center contact-icon">
				<a href="https://github.com/addisonkaufmann" target="_blank">
					<i class="fa fa-github-square" aria-hidden="true"></i>
				</a>
			</div>
			<div class="col-2 align-center contact-icon">
				<a href="https://www.linkedin.com/in/addison-kaufmann-a36228120/" target="_blank">
					<i class="fa fa-linkedin-square" aria-hidden="true"></i>
				</a>
			</div>
			<div class="col-2 align-center contact-icon">
				<a href="https://www.behance.net/akaufmann47887" target="_blank">
					<i class="fa fa-behance-square" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</div>
	
</div>