<div class="row mg-top-20 animated fadeInUp">
	<div class="col-12 contact-header">
		<h3>Contact</h3>
	</div>
	<div class="col-6 align-right">
		<p>
			addisonkaufmann<br/>
			@email.arizona.edu
		</p>
	</div>
	<div class="col-6">
		<p>
			6907 N Gleneagles Dr<br/>
			Tucson AZ 85718
		</p>
	</div>


	<div class="col-12 contact-header">
		<h3>See More</h3>
	</div>
	<div class="col-2 offset-3 align-right">
		hi
	</div>
	<div class="col-2 align-center">
		hi
	</div>
	<div class="col-2">
		hi
	</div>


</div>