<div class="row mg-top-20 animated" ng-class="down ? 'fadeInDown' : 'fadeInUp'">
	<div class="col-12 contact-header">
		<h3>Contact</h3>
	</div>
	<div class="col-6 align-right">
		<p>
			<a href="mailto:addisonkaufmann@email.arizona.edu">
				addisonkaufmann<br/>
				@email.arizona.edu
			</a>
		</p>
	</div>
	<div class="col-6">
		<p>
			6907 N Gleneagles Dr<br/>
			Tucson AZ 85718
		</p>
	</div>


	<div class="col-12 contact-header" style="margin-top: 40px;">
		<h3>See More</h3>
	</div>
	<div class="col-12 col-md-8 offset-md-2 offset-lg-3 col-lg-6" style="margin-top: 10px;">
		<div class="row">
			<div class="col-2 offset-3 align-right">
				<a href="https://github.com/addisonkaufmann" target="_blank"><img class="img-fluid" src="assets/github.png"/></a>
			</div>
			<div class="col-2 align-center">
				<a href="https://www.linkedin.com/in/addison-kaufmann-a36228120/" target="_blank"><img class="img-fluid" src="assets/linkedin.png"/></a>
			</div>
			<div class="col-2">
				<a href="https://www.behance.net/akaufmann47887" target="_blank"><img class="img-fluid" src="assets/behance.png"/></a>
			</div>
		</div>
	</div>
	


</div>