<div class="d-none d-md-block d-lg-block d-xl-block animated" ng-class="down ? 'fadeInDown' : 'fadeInUp'">
	

	<div class="col-10 offset-1">
		<div class="row">
			<div class="col-10 offset-1  align-center" >
				<hr class="gradient-line">
			</div>
			<div class="col-2 offset-5 col-md-4 offset-md-4 col-lg-2 offset-lg-5 align-center">
				<h3 class="magenta-secondary bg-yellow-primary" style="margin-top: -28px; font-size: 16pt;">Skills</h3>
			</div>

		</div>

		<div class="row no-gutters ">
			<div class="col-1 align-center offset-1">
				<a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">
					<img class="img-fluid" src="assets/cs-web.png">
				</a>
			</div>
			<div class="col-1 align-center">
				<a href="https://en.wikipedia.org/wiki/C_(programming_language)" target="_blank">
					<img class="img-fluid" src="assets/c-web.png">
				</a>
			</div>
			<div class="col-1 align-center">
				<a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
					<img class="img-fluid" src="assets/html-web.png">
				</a>
			</div>
			<div class="col-1 align-center">
				<a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
					<img class="img-fluid" src="assets/css-web.png">
				</a>
			</div>
			<div class="col-2 align-center">
				<a href="https://angular.io/" target="_blank">
					<img class="img-fluid" src="assets/ng-web.png">
				</a>
			</div>
			<div class="col-2 align-center">
				<a href="https://www.typescriptlang.org/" target="_blank">
					<img class="img-fluid" src="assets/ts-web.png">
				</a>
			</div>
			<div class="col-1 align-center">
				<a href="https://nodejs.org/en/" target="_blank">
					<img class="img-fluid" src="assets/node-web.png">
				</a>
			</div>
			<div class="col-1 align-center">
				<a href="http://www.adobe.com/products/illustrator.html" target="_blank">
					<img class="img-fluid" src="assets/ai-web.png">
				</a>
			</div>
		</div>

		<div class="row no-gutters " >
			<div class="col-2 align-center offset-1">
				<a href="https://www.python.org/" target="_blank">
					<img class="img-fluid" src="assets/py-web.png">
				</a>
			</div>
			<div class="col-1 align-center">
				<a href="https://getbootstrap.com/" target="_blank">
					<img class="img-fluid" src="assets/bs-web.png">
				</a>
			</div>
			<div class="col-1 align-center">
				<a href="http://sass-lang.com/" target="_blank">
					<img class="img-fluid" src="assets/scss-web.png">
				</a>
			</div>
			<div class="col-1 align-center">
				<a href="https://www.javascript.com/" target="_blank">
					<img class="img-fluid" src="assets/js-web.png">
				</a>
			</div>
			<div class="col-2 align-center">
				<a href="https://ionicframework.com/" target="_blank">
					<img class="img-fluid" src="assets/ion-lg-web.png">
				</a>
			</div>
			<div class="col-2 align-center">
				<a href="https://www.djangoproject.com/" target="_blank">
					<img class="img-fluid" src="assets/dj-web.png">
				</a>
			</div>
			<div class="col-1 align-center">
				<a href="http://www.adobe.com/products/photoshop.html" target="_blank">
					<img class="img-fluid" src="assets/ps-web.png">
				</a>
			</div>
		</div>

		<div class="row no-gutters ">
			<div class="col-1 offset-1 align-center">
				<a href="https://git-scm.com/" target="_blank">
					<img class="img-fluid" src="assets/git-web.png">
				</a>
			</div>
			<div class="col-2 align-center">
				<a href="https://java.com/en/" target="_blank">
					<img class="img-fluid" src="assets/java-web.png">
				</a>
			</div>
			<div class="col-1 align-center">
				<a href="https://msdn.microsoft.com/en-us/library/cc295302.aspx" target="_blank">
					<img class="img-fluid" src="assets/xaml-web.png">
				</a>
			</div>
			<div class="col-1 align-center">
				<a href="https://jquery.com/" target="_blank">
					<img class="img-fluid" src="assets/jq-web.png">
				</a>
			</div>
			<div class="col-2 align-center">
				<a href="https://docs.microsoft.com/en-us/windows/uwp/get-started/universal-application-platform-guide" target="_blank">
					<img class="img-fluid" src="assets/uwp-lg-web.png">
				</a>
			</div>
			<div class="col-2 align-center">
				<a href="https://azure.microsoft.com/en-us/" target="_blank">
					<img class="img-fluid" src="assets/az-web.png">
				</a>
			</div>
			<div class="col-1 align-center">
				<a href="http://www.adobe.com/products/indesign.html" target="_blank">
					<img class="img-fluid" src="assets/id-web.png">
				</a>
			</div>
		</div>

		<div class="row no-gutters skill-headers">
			<div class="col-2 offset-1">
				<h5 class="pink-primary">General</h5>
			</div>
			<div class="col-2 align-right">
				<h5 class="magenta-primary">Markup</h5>
			</div>
			<div class="col-1 ">
				<h5 class="magenta-secondary">Frontend</h5>
			</div>
			<div class="col-2 align-right">
				<h5 class="purple-primary">Apps</h5>
			</div>
			<div class="col-1">
				<h5 class="blue-primary">Backend</h5>
			</div>
			<div class="col-2 align-right">
				<h5 class="blue-secondary">Design</h5>
			</div>
		</div>
	</div>
</div>





<div class="d-block d-md-none d-lg-none d-xl-none animated" ng-class="down ? 'fadeInDown' : 'fadeInUp'">
	<div class="col-12 col-sm-8 offset-sm-2">
		<div class="row">
			<div class="col-8 offset-2 align-center" >
				<hr class="gradient-line">
			</div>
			<div class="col-12  col-sm-4 offset-sm-4 align-center">
				<h3 class="magenta-secondary bg-yellow-primary" style="margin-top: -32px;">Skills</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-8 offset-2">
				<div class="row no-gutters ">
					<div class="col-3 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/c-web.png">
						</a>
					</div>
					<div class="col-3 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/cs-web.png">
						</a>
					</div>
					<div class="col-6 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/java-web.png">
						</a>
					</div>
				</div>	

				<div class="row no-gutters ">
					<div class="col-6 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/py-web.png">
						</a>
					</div>
					<div class="col-3 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/git-web.png">
						</a>
					</div>
					<div class="col-3 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/bs-web.png">
						</a>
					</div>
				</div>

				<div class="row no-gutters ">
					<div class="col-3 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/html-web.png">
						</a>
					</div>
					<div class="col-3 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/css-web.png">
						</a>
					</div>
					<div class="col-3 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/scss-web.png">
						</a>
					</div>
					<div class="col-3 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/xaml-web.png">
						</a>
					</div>
				</div>

				<div class="row no-gutters ">
					<div class="col-3 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/js-web.png">
						</a>
					</div>
					<div class="col-6 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/ng-web.png">
						</a>
					</div>
					<div class="col-3 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/jq-web.png">
						</a>
					</div>
				</div>

				<div class="row no-gutters ">
					<div class="col-6 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/ts-web.png">
						</a>
					</div>
					<div class="col-3 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/ion-sm-web.png">
						</a>
					</div>
					<div class="col-3 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/uwp-sm-web.png">
						</a>
					</div>
				</div>

				<div class="row no-gutters ">
					<div class="col-6 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/dj-web.png">
						</a>
					</div>
					<div class="col-6 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/az-web.png">
						</a>
					</div>
				</div>

				<div class="row no-gutters ">
					<div class="col-3 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/node-web.png">
						</a>
					</div>
					<div class="col-3 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/ai-web.png">
						</a>
					</div>
					<div class="col-3 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/ps-web.png">
						</a>
					</div>
					<div class="col-3 align-center">
						<a href="" target="_blank">
							<img class="img-fluid" src="assets/id-web.png">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
