<!-- 
<div class="row mg-top-20 animated fadeInUp">
	<div class="col-md-6 offset-md-3 col-10 offset-1" style="text-align: center;">
		<h3>Skills</h3>
	</div>
</div>
<div class="row no-gutters ">
	<div class="col-1 align-center offset-1">
		<img class="img-fluid" src="assets/c-web.png">
	</div>
	<div class="col-1 align-center">
		<img class="img-fluid" src="assets/c-web.png">
	</div>
	<div class="col-1 align-center">
		<img class="img-fluid" src="assets/c-web.png">
	</div>
	<div class="col-1 align-center">
		<img class="img-fluid" src="assets/c-web.png">
	</div>
	<div class="col-2 align-center">
		<img class="img-fluid" src="assets/java-web.png">
	</div>
	<div class="col-2 align-center">
		<img class="img-fluid" src="assets/java-web.png">
	</div>
	<div class="col-1 align-center">
		<img class="img-fluid" src="assets/c-web.png">
	</div>
	<div class="col-1 align-center">
		<img class="img-fluid" src="assets/c-web.png">
	</div>
</div>

<div class="row no-gutters animated fadeInUp" >
	<div class="col-2 align-center offset-1">
		<img class="img-fluid" src="assets/java-web.png">
	</div>
	<div class="col-1 align-center">
		<img class="img-fluid" src="assets/c-web.png">
	</div>
	<div class="col-1 align-center">
		<img class="img-fluid" src="assets/c-web.png">
	</div>
	<div class="col-1 align-center">
		<img class="img-fluid" src="assets/c-web.png">
	</div>
	<div class="col-2 align-center">
		<img class="img-fluid" src="assets/java-web.png">
	</div>
	<div class="col-2 align-center">
		<img class="img-fluid" src="assets/java-web.png">
	</div>
	<div class="col-1 align-center">
		<img class="img-fluid" src="assets/c-web.png">
	</div>
</div>

<div class="row no-gutters animated fadeInUp">
	<div class="col-1 offset-1 align-center">
		<img class="img-fluid" src="assets/c-web.png">
	</div>
	<div class="col-2 align-center">
		<img class="img-fluid" src="assets/java-web.png">
	</div>
	<div class="col-1 align-center">
		<img class="img-fluid" src="assets/c-web.png">
	</div>
	<div class="col-1 align-center">
		<img class="img-fluid" src="assets/c-web.png">
	</div>
	<div class="col-2 align-center">
		<img class="img-fluid" src="assets/java-web.png">
	</div>
	<div class="col-2 align-center">
		<img class="img-fluid" src="assets/java-web.png">
	</div>
	<div class="col-1 align-center">
		<img class="img-fluid" src="assets/c-web.png">
	</div>
</div>

<div class="row no-gutters animated fadeInUp">
	<div class="col-2 offset-1">
		<p>General Purpose</p>
	</div>
	<div class="col-2 align-right">
		<p>UI/UX</p>
	</div>
	<div class="col-1 ">
		<p>Frontend</p>
	</div>
	<div class="col-2 align-right">
		<p>Apps</p>
	</div>
	<div class="col-2">
		<p>Backend</p>
	</div>
	<div class="col-1 align-right">
		<p>Design</p>
	</div>
</div>

 -->



 <div class="row animated fadeInUp">
	<div class="col-md-6 offset-md-3 col-10 offset-1" style="text-align: center;">
		<h3>Skills</h3>
	</div>
</div>
<div class="row">
	<div class="col-8 offset-2">
		<div class="row no-gutters ">
			<div class="col-3 align-center">
				<img class="img-fluid" src="assets/c-web.png">
			</div>
			<div class="col-3 align-center">
				<img class="img-fluid" src="assets/c-web.png">
			</div>
			<div class="col-6 align-center">
				<img class="img-fluid" src="assets/java-web.png">
			</div>
		</div>	

		<div class="row no-gutters ">
			<div class="col-6 align-center">
				<img class="img-fluid" src="assets/java-web.png">
			</div>
			<div class="col-3 align-center">
				<img class="img-fluid" src="assets/c-web.png">
			</div>
			<div class="col-3 align-center">
				<img class="img-fluid" src="assets/c-web.png">
			</div>
		</div>

		<div class="row no-gutters ">
			<div class="col-3 align-center">
				<img class="img-fluid" src="assets/c-web.png">
			</div>
			<div class="col-3 align-center">
				<img class="img-fluid" src="assets/c-web.png">
			</div>
			<div class="col-3 align-center">
				<img class="img-fluid" src="assets/c-web.png">
			</div>
			<div class="col-3 align-center">
				<img class="img-fluid" src="assets/c-web.png">
			</div>
		</div>

		<div class="row no-gutters ">
			<div class="col-3 align-center">
				<img class="img-fluid" src="assets/c-web.png">
			</div>
			<div class="col-6 align-center">
				<img class="img-fluid" src="assets/java-web.png">
			</div>
			<div class="col-3 align-center">
				<img class="img-fluid" src="assets/c-web.png">
			</div>
		</div>

		<div class="row no-gutters ">
			<div class="col-6 align-center">
				<img class="img-fluid" src="assets/java-web.png">
			</div>
			<div class="col-3 align-center">
				<img class="img-fluid" src="assets/c-web.png">
			</div>
			<div class="col-3 align-center">
				<img class="img-fluid" src="assets/c-web.png">
			</div>
		</div>

		<div class="row no-gutters ">
			<div class="col-6 align-center">
				<img class="img-fluid" src="assets/java-web.png">
			</div>
			<div class="col-6 align-center">
				<img class="img-fluid" src="assets/java-web.png">
			</div>
		</div>

		<div class="row no-gutters ">
			<div class="col-3 align-center">
				<img class="img-fluid" src="assets/c-web.png">
			</div>
			<div class="col-3 align-center">
				<img class="img-fluid" src="assets/c-web.png">
			</div>
			<div class="col-3 align-center">
				<img class="img-fluid" src="assets/c-web.png">
			</div>
			<div class="col-3 align-center">
				<img class="img-fluid" src="assets/c-web.png">
			</div>
		</div>

	</div>
</div>
