<div class="row mg-top-20">
	<div class="col-12 col-sm-6 align-right">
		<h3 class="edu-degree">Bachelors of Science</h3>
		<h3 class="edu-major">Computer<br/>Science</h3>
		<div class="row">
			<div class="col-4 offset-4 col-lg-3 offset-lg-6">
				<p><span class="bold">University<br/>
					of Arizona<br/></span>
					Tucson, AZ</p>
			</div>
			<div class="col-4 col-lg-3">
				<p><span class="bold">May 2018<br/></span>
					Math Minor<br/>
					Design Minor<br/>
					GPA 3.92</p>
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6" style="margin-top: 30pt;"> 
		<h3 class="edu-header">Honors</h3>
		<p>National Merit Scholar<br/>
					Wildcat Excellence Award<br/>
					a2ru Student Challedge Grant<br/>
					Honors College</p>
		<h3 class="edu-header">Involvement</h3>
		<p>Engineers Without Borders<br/>
					Fall 2014-Present<br/>
					President 2017-2018<br/>
					Vice President 2016-2017</p>
		
	</div>
</div>