<div class="bg-yellow-primary bg-cover" style="position: relative;">
	<div class="full-width custom-nav">
		<div class="custom-nav-links">
			<a class="nav-item nav-link" ui-sref="home">Home</a>
	        <a class="nav-item nav-link" ui-sref="about">About</a>
	    </div>
	</div>
	<div class="container" >
		<div class="row">
			<!-- <div class="col-md-6 offset-md-3 col-10 offset-1">
				<img src="assets/name.png" class="mg-top-20 img-fluid" />
				<h3 class="home-name-sub">Addison Kaufmann</h3>
			</div> -->

			<div class="col-md-8 offset-md-2 col-10 offset-1">
				<h3 class="mg-top-20 home-name-sub">Addison Kaufmann</h3>

				</div>
			</div>


		</div>
		<div class="row">
			<div class="col-12 col-sm-6 align-right">
				<h3>Bachelors of Science</h3>
				<h3>Computer<br/>Science</h3>
				<div class="row">
					<div class="col-2 offset-8">
						<p>University<br/>
							of Arizona<br/>
							Tucson, AZ</p>
					</div>
					<div class="col-2">
						<p>May 2018<br/>
							Math Minor<br/>
							Design Minor<br/>
							GPA 3.92</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6"> 
				<h3>Honors</h3>
				<p>National Merit Scholar<br/>
							Wildcat Excellence Award<br/>
							a2ru Student Challedge Grant<br/>
							Honors College</p>
				<h3>Involvement</h3>
				<p>Engineers Without Borders<br/>
							Fall 2014-Present<br/>
							President 2017-2018<br/>
							Vice President 2016-2017</p>
				
			</div>
		</div>
	</div>

<!-- 	<img src="assets/name.png" class="home-name" />
 -->

<!-- 	<div class="jumbotron text-center">
	    <h1>The Homey Page</h1>
	    <p>This page demonstrates <span class="text-danger">nested</span> views.</p>
	    
	    <a ui-sref=".list" class="btn btn-primary">List</a>
	    <a ui-sref=".paragraph" class="btn btn-danger">Paragraph</a>
	    
	</div> -->

	<div ui-view></div>
</div>