<div class="bg-blue-secondary bg-cover " style="overflow-y: auto;">
	<h1 class="blue-primary animated fadeInUp">	<i style="cursor: pointer" class="fa fa-times" ng-click="close()" aria-hidden="true"></i>{{'  ' + name}}</h1>

	<div class="container">
		<div class="row animated fadeInUp" ng-if="name=='Higher Ground'">
			<div class="col-12 col-lg-10 offset-lg-1">
				<img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/116eb963276571.5aac2b052fbed.png"/>
				<img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/f57eb563276571.5aac2b052f48b.png"/>
				<img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/c1807e63276571.5aac25ef70e72.jpg"/>
				<img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/43e9ed63276571.5aac25ef7047b.jpg"/>
				<img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/2a161b63276571.5aac2b05303e7.jpg"/>
				<img class="img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/a3588963276571.5aab0caa788cb.gif"/>
			</div>
		</div>
	</div>
</div>