<div class="bg-blue-secondary bg-cover " style="overflow-y: auto;">

	<i style="cursor: pointer; font-size: 30px; float: left; margin-left: 15px;" class="fa fa-times blue-primary portfolio-detail-mg d-none d-sm-block" ng-click="close()" aria-hidden="true"></i>


	<div class="container">
		<div class="row portfolio-detail-mg  align-items-center">
				<div class="col-1 offset-1 offset-sm-1 offset-lg-2 ">
					<h1 class="align-right">
						<i style="cursor: pointer; font-size: 30px;" ng-show="id!==0" class="fa fa-chevron-left blue-primary" ng-click="goLeft()" aria-hidden="true"></i>
					</h1>
				</div>
 				<div class="col-8 col-sm-8 col-lg-6">
					<h1 class="align-center blue-primary">				
					{{name}}
					</h1>
				</div>
				<div class="col-1">
					<h1 class="align-left">
						<i style="cursor: pointer; font-size: 30px;" ng-if="id!==items.length-1" class="fa fa-chevron-right blue-primary" ng-click="goRight()" aria-hidden="true"></i>
					</h1>
				</div>

			
		</div>

		<div class="row animated fadeInUp" ng-if="name=='Higher Ground'">
			<div class="col-12 col-lg-10 offset-lg-1">
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/116eb963276571.5aac2b052fbed.png"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/f57eb563276571.5aac2b052f48b.png"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/c1807e63276571.5aac25ef70e72.jpg"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/43e9ed63276571.5aac25ef7047b.jpg"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/2a161b63276571.5aac2b05303e7.jpg"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/a3588963276571.5aab0caa788cb.gif"/>
			</div>
		</div>

		<div class="row animated fadeInUp" ng-if="name=='Funk Water'">
			<div class="col-12 col-lg-10 offset-lg-1">
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/4ac29a63188451.5aa8a9cee5d65.jpg"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/e4209c63188451.5aa8a9cee57f6.jpg"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/3fd38663188451.5aa8a9cee692d.jpg"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/b5ae9063188451.5aa8a9cee6239.jpg"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/f4ab9263188451.5aa8a9cee6607.jpg"/>
			</div>
		</div>

		<div class="row animated fadeInUp" ng-if="name=='Domain of the Gods'">
			<div class="col-12 col-lg-10 offset-lg-1">
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/83c37261927485.5a7e479855b63.jpg"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/4d5cd061927485.5a7e4798ec5d6.jpg"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/df73fe61927485.5a7e4798ec1d3.jpg"/>
			</div>
		</div>

		<div class="row animated fadeInUp" ng-if="name=='Red Threads'">
			<div class="col-12 col-lg-10 offset-lg-1">
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/0fa0f256154929.59a3184721ffb.png"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/fbcb3356154929.59a318472283c.png"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/cbdb6056154929.59a31847236be.png"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/737e4656154929.59a3184723289.png"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/5a28f656154929.59a3184722d62.png"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/bf419556154929.59a3184722524.png"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/3a6c3656154929.59a3184721af2.png"/>
			</div>
		</div>

		<div class="row animated fadeInUp" ng-if="name=='Desire & Innocence'">
			<div class="col-12 col-lg-10 offset-lg-1">
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/7283ad53432795.5934c5b08e214.png"/>
<!-- 				<div class="row">
					<div class="col-12 col-sm-4">
						<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/4a08b253432795.5934c5b02de0e.png"/>
					</div>
					<div class="col-12 col-sm-4">
						<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/c41d4d53432795.5934c5b02e346.png"/>
					</div>
					<div class="col-12 col-sm-4">
						<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/30117253432795.5934c5b02dbe6.png"/>
					</div>
				</div> -->
			</div>
		</div>

		<div class="row animated fadeInUp" ng-if="name=='The Knotted Sepal'">
			<div class="col-12 col-lg-10 offset-lg-1">
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/d8381749920273.5aaef2a5d9146.jpg"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/a795d749920273.5aaef2a5d8c8b.jpg"/>
				<img class="detail-margin img-fluid" src="https://mir-cdn.behance.net/v1/rendition/project_modules/fs/55c40249920273.5ab054a47742c.jpg"/>
			</div>
		</div>

		<div class="row animated fadeInUp" ng-if="name=='Living Museum'">
			<div class="col-12 col-lg-10 offset-lg-1">
				<img class="detail-margin img-fluid" src="https://mir-cdn.behance.net/v1/rendition/project_modules/fs/74212c48882709.5ab0723537ff5.png"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/cca87348882709.593628e156a4f.png"/>
				<img class="detail-margin img-fluid" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/2827a348882709.593628e156673.png"/>
			</div>
		</div>


	</div>
</div>

