<!-- <div class="bg-blue-secondary bg-cover animated fadeInLeft">
	<h4 style="color: white;">Projects</h4>
	<h3 class="arrow-right animated fadeInLeft d-none d-sm-block d-md-block d-lg-block d-xl-block">
		<a href="#home/name">
			Back
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</a>
	</h3>
</div> -->

<div class="row bg-blue-secondary">
	<div class="col-8 d-none d-md-block bg-cover animated fadeInLeft no-padding bg-pink-primary" style="position: relative;" ng-style="items[step].style" ng-class="{'fadeOutLeft': clicked}">
		<img ng-repeat="item in items" ng-show="step=={{$index}}" ng-src="{{item.src}}" class="animated project-img" ng-class="{'fadeIn': step==$index, 'fadeOut': step!=$index}"/>
	</div>
	<div class="col-12 col-md-4 bg-cover bg-blue-secondary animated fadeInLeft" ng-class="{'fadeOutRight': clicked}">
		<h1 class="d-none d-md-none d-lg-none d-xl-block d-sm-block purple-secondary align-right" style="font-size: 70px;" >Software<br/> Projects</h1>
		<h1 class="d-none d-lg-block d-xl-none purple-secondary align-right" style="font-size: 60px;" >Software<br/> Projects</h1>
		<h1 class=" d-sm-none d-md-block d-lg-none d-xl-none purple-secondary align-right" style="font-size: 50px;" >Software<br/> Projects</h1>

		
		<div style="left: 15px; margin-top: 70px; float: left">	
			<h4 ng-repeat="item in items" class="align-left pink-primary portfolio-item-name" ng-mouseover="setStep($index)" ng-click="goTo($index)">{{item.name}}</h4>	
		</div>
		<h3 class="arrow-right animated fadeInRight d-none d-sm-block d-md-block d-lg-block d-xl-block">
			<a href="#home/name">
				Back
				<i class="fa fa-chevron-right" aria-hidden="true"></i>
			</a>
		</h3>

	</div>
	
</div>
