@import "partials/colors";
@import "partials/fonts";


.bg-yellow-primary {
	background-color: $yellow-primary;
}

.bg-blue-primary {
	background-color: $blue-primary;
}

.position-v-center {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}


.position-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bg-cover {
	height: 100vh;
	width: 100vw;
}

.header-base {
	font-family: $font-header;
	text-transform: uppercase;
}
.full-width {
	width: 100vw;
}

.custom-nav {
	@extend .bg-blue-primary;
	height: 60px;
	position: relative;
}

.custom-nav .custom-nav-links {
	@extend .position-v-center;
}

.custom-nav-links a {
	@extend .header-base;
	color: $pink-primary;
	float: left;
}

.home-name-img {
	margin-top: 20vh;
}

.home-name-sub {
	@extend .header-base;
	color: $blue-primary;
	text-align: center;
}
