.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }
  .fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%; }

.logo {
  height: 100%; }

icon-white {
  font-color: white; }

.overlay-container {
  position: relative;
  width: 100%; }

.overlay-item, .overlay-tab, .overlay-text, .overlay-row, .overlay-footer {
  position: absolute;
  margin: auto;
  text-align: center; }

.overlay-tab {
  top: 0;
  left: 10%;
  right: 10%;
  width: 80%;
  bottom: 85%;
  border-radius: 0px 0px 15px 15px;
  background-color: rgba(255, 255, 255, 0.7); }

.overlay-text {
  bottom: 0;
  left: 10%;
  right: 10%;
  width: 80%;
  top: 70%;
  color: white; }

.overlay-row {
  bottom: 0;
  left: 10%;
  right: 10%;
  width: 80%;
  top: 85%;
  color: white; }

.overlay-footer {
  top: 0;
  left: 10%;
  right: 10%;
  width: 80%;
  top: 94%;
  color: white; }

.vignette img {
  display: block; }

.vignette:after {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  box-shadow: inset 0rem -35rem 15rem -13rem rgba(0, 0, 0, 0.7); }

.light-padding {
  padding: 1% 1% 1% 1%; }

.tile {
  width: 100%;
  height: 25vw; }

.tile-text {
  font-size: 130%;
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.social-footer {
  color: white;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 3%;
  padding-top: 3%; }
  .social-footer .title {
    padding-bottom: 2%;
    font-size: 130%; }

.light-green {
  background-color: #81bc5f; }

.yellow {
  background-color: #f8dc54; }

.orange {
  background-color: #f6a049; }

.red {
  background-color: #f4704a; }

.brown {
  background-color: #ce9351; }

.purple {
  background-color: #ba97bf; }

.blue {
  background-color: #45c0df; }

.dark-green {
  background-color: #56ae7c; }
