.yellow-primary {
  color: #FCBA65; }

.yellow-secondary, .edu-degree, .exp-date, .arrow-left, .arrow-right, .arrow-down, .arrow-up, .contact-header {
  color: #F19170; }

.pink-primary, .custom-nav-links a, .custom-nav-links a:hover, .edu-header, .exp-company, .exp-arrow {
  color: #E66879; }

.magenta-primary {
  color: #AD5372; }

.magenta-secondary {
  color: #875178; }

.purple-primary, .edu-major, .exp-title {
  color: #614F7D; }

.purple-secondary, .contact-icon {
  color: #424C7B; }

.blue-primary, .home-name-sub, p, .about-title {
  color: #204878; }

.blue-secondary {
  color: #13385E; }

.bg-yellow-primary {
  background-color: #FCBA65; }

.bg-yellow-secondary {
  background-color: #F19170; }

.bg-pink-primary {
  background-color: #E66879; }

.bg-magenta-primary {
  background-color: #AD5372; }

.bg-magenta-secondary {
  background-color: #875178; }

.bg-purple-primary {
  background-color: #614F7D; }

.bg-purple-secondary {
  background-color: #424C7B; }

.bg-blue-primary {
  background-color: #204878; }

.bg-blue-secondary, .custom-nav {
  background-color: #13385E; }

@font-face {
  font-family: Jaapokki;
  src: url("../assets/fonts/Jaapokki-Regular.otf") format("opentype"); }

@font-face {
  font-family: Archer-Bold;
  src: url("../assets/fonts/Archer-Bold.otf") format("opentype"); }

@font-face {
  font-family: Archer-Book;
  src: url("../assets/fonts/Archer-Book.otf") format("opentype"); }

@font-face {
  font-family: Archer-Medium;
  src: url("../assets/fonts/Archer-Medium.otf") format("opentype"); }

@font-face {
  font-family: Archer-Semibold;
  src: url("../assets/fonts/Archer-Semibold.otf") format("opentype"); }

.position-v-center, .custom-nav .custom-nav-links, .arrow-left, .arrow-right {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%); }

.position-h-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0); }

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); }

.bg-cover {
  height: 100vh;
  width: 100vw; }

.header-base, .custom-nav-links a, h1, h2, h3, h4, h5 {
  font-family: Jaapokki, sans-serif;
  text-transform: uppercase; }

.full-width {
  width: 100vw; }

.custom-nav {
  height: 60px;
  position: relative; }

.custom-nav-links a {
  float: left; }

.mg-top-20 {
  margin-top: 25vh; }

.home-name-sub {
  text-align: center; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

p {
  font-family: Archer-Book, serif;
  font-size: 12pt; }

h1, h2, h3, h4, h5 {
  margin-bottom: 0; }

.edu-header-base, .edu-degree, .edu-header {
  font-size: 22pt;
  line-height: 22pt; }

.edu-degree {
  line-height: 30pt; }

.edu-major {
  font-size: 53pt;
  line-height: 52pt; }

.bold {
  font-weight: bold; }

.exp-title {
  font-size: 40pt;
  line-height: 40pt; }

.exp-company {
  font-size: 20px; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: inherit;
  text-decoration: none; }

.exp-date {
  font-size: 20px; }

.arrow-left {
  position: fixed;
  left: 10px;
  font-size: 12pt; }

.arrow-right {
  position: fixed;
  right: 10px;
  font-size: 12pt; }

.arrow-down {
  position: fixed;
  text-align: center;
  font-size: 12pt;
  z-index: 2;
  bottom: 10px;
  overflow: hidden;
  margin: 0 auto;
  left: 0;
  right: 0; }

.arrow-up {
  position: fixed;
  text-align: center;
  font-size: 12pt;
  z-index: 2;
  top: 10px;
  overflow: hidden;
  margin: 0 auto;
  left: 0;
  right: 0; }

.contact-header {
  text-align: center; }

.about-title {
  text-align: center; }

.about-img {
  margin: auto;
  display: block;
  max-width: 85%;
  margin-bottom: 20px; }

.skill-headers h5 {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px; }

a img {
  opacity: .9;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out; }

a:hover img {
  opacity: 1; }

a .fa {
  opacity: .9;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out; }

a:hover .fa {
  opacity: 1; }

.gradient, .gradient-line {
  border-color: #875178;
  /* For browsers that do not support gradients */
  border-image: -webkit-linear-gradient(90deg, #E66879, #AD5372, #875178, #614F7D, #424C7B, #204878, #13385E);
  border-image: -o-linear-gradient(90deg, #E66879, #AD5372, #875178, #614F7D, #424C7B, #204878, #13385E);
  border-image: -moz-linear-gradient(90deg, #E66879, #AD5372, #875178, #614F7D, #424C7B, #204878, #13385E);
  border-image: linear-gradient(90deg, #E66879, #AD5372, #875178, #614F7D, #424C7B, #204878, #13385E);
  border-image-slice: 1; }

.gradient-line {
  border-width: 5px;
  margin-left: 10px;
  margin-right: 10px; }

html,
body {
  overflow: hidden;
  position: relative;
  height: 100%; }

.exp-dot {
  height: 10px;
  width: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 3px;
  opacity: 0.5;
  cursor: pointer; }

.exp-arrow {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px; }

.full-opacity {
  opacity: 1; }

.contact-icon {
  font-size: 50px; }
