.bg-yellow-primary {
  background-color: #FCBA65; }

.bg-blue-primary, .custom-nav {
  background-color: #204878; }

.bg-cover {
  height: 100vh;
  width: 100vw; }

.full-width {
  width: 100%; }

.custom-nav {
  height: 60px;
  position: relative; }

.custom-nav .custom-nav-links {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%); }

.custom-nav-links a {
  color: #E66879;
  float: left; }
